
    *{
        margin: 0;
        padding: 0;
    }
    
    .mynav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #052545;
    
      }
     
      .mybg{
        background-color: #052545;
      }
      
      
      .heading {
        margin: auto;
        color: white;
      }
      .bos{
        display: flex;
        flex-direction: column;
        align-items: center;
        


        
      }
      .choices{
        margin-top: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        justify-content: center;

      }
      .choice{
        height:165px ;
        width: 165px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      .choice:hover{
       cursor: pointer;
       background-color: #052545;
      }
      img{
        height: 150px ;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
      .score-board{
        display: flex;
    
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-top: 3rem;
        gap: 5rem;
      }
      #user-score, #comp-score{
        
         font-size: 3rem;
      }
      p{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .msg-container{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
      #msg{
        background-color: #052545;
        color: white;
        font-size: 2rem;
        display: inline;
        border-radius: 1rem;
        padding: 10px;
      }